.App {
  margin: 1rem 1rem;
}

.App::before {
  position: absolute;
  background-image: url(./images/splat1.png);
  background-position: top -8rem left -16rem;
  background-repeat: no-repeat;
  background-size: 80rem 80rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -2;
}

@media only screen and (min-width: 600px) {
  .App::after {
    position: absolute;
    background-image: url(./images/splat2.png);
    background-position: bottom -20rem right -8rem;
    background-repeat: no-repeat;
    background-size: 80rem 80rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -2;
  }
}

.App-content {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 900px;
  margin: auto;
}

.App-msg {
  text-align: center;
  font-size: 2em;
}

.App-container {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}
