.App {
}

.App-logo {
  height: 4em;
  width: 4em;
  pointer-events: none;
}

.App-title {
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #b863ca;
  margin-right: 1em;
  text-decoration: none;
}

.App-content {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 900px;
  margin: auto;
}
