.EQBars-container {
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: translate3d(0, 0, 0);
}

.colour-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transform: translate3d(0, 10%, 0);
  background: #b863ca;
}

.EQBars-column {
  width: 19%;
  margin: 0 0.5% 0 0.5%;
  padding: 0 0 0 0;
  height: 100%;
  position: relative;
  list-style-type: none;
  overflow: hidden;
}

.EQBars-column:nth-child(1) .colour-bar {
  animation: color-bar 2s 1s ease-out alternate infinite;
}

.EQBars-column:nth-child(2) .colour-bar {
  animation: color-bar 2s 0.5s ease-out alternate infinite;
}

.EQBars-column:nth-child(3) .colour-bar {
  animation: color-bar 2s 1.5s ease-out alternate infinite;
}

.EQBars-column:nth-child(4) .colour-bar {
  animation: color-bar 2s 0.25s ease-out alternate infinite;
}

.EQBars-column:nth-child(5) .colour-bar {
  animation: color-bar 2s 2s ease-out alternate infinite;
}

.EQBars-column:last-child {
  margin-right: 0;
}

@keyframes color-bar {
  0% {
    transform: translate3d(0, 10%, 0);
  }
  10% {
    transform: translate3d(0, 30%, 0);
  }
  20% {
    transform: translate3d(0, 50%, 0);
  }
  30% {
    transform: translate3d(0, 20%, 0);
  }
  40% {
    transform: translate3d(0, 70%, 0);
  }
  50% {
    transform: translate3d(0, 90%, 0);
  }
  60% {
    transform: translate3d(0, 30%, 0);
  }
  70% {
    transform: translate3d(0, 80%, 0);
  }
  80% {
    transform: translate3d(0, 50%, 0);
  }
  90% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, 10%, 0);
  }
}
