.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.Header-titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}

.Header-controls {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.Header-titlePrimary {
  font-weight: 900;
  font-size: 8rem;
  text-shadow: 0px 0px 10px rgba(255, 35, 145, 0.8);
  color: rgba(255, 35, 145, 0.8);
  -webkit-text-stroke: 0.3rem black;
  transform: rotate(7deg) translate3d(0, 4rem, 0);
  /* z-index:1; */
  /* -webkit-mask-image: url(./images/grit.png);
    mask-image: url(./images/grit.png); */
}

.Header-titleSecondary {
  font-weight: 900;
  font-size: 7rem;
  color: rgba(113, 255, 47, 0.87);
  transform: translate3d(0, -4rem, 0);
  -webkit-text-stroke: 0.3rem black;
  text-shadow: 0px 0px 10px black;
}

.Header-userImg {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  margin: 1rem;
}

.Header-link {
  margin: 0 1em;
}

.Header-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Header-username {
  margin-right: 1rem;
  font-size: 2rem;
}

.Header-editUsername {
}

/* Larger than phone */
@media (min-width: 550px) {
  .Header {
    flex-direction: row;
  }
  .Header-titleContainer {
    flex-basis: 70%;
  }
  .Header-controls {
    flex-basis: 30%;
    justify-content: center;
    flex-direction: column;
  }
}

/* Large tablets */
@media (min-width: 700px) {
  .Header-titlePrimary {
    font-size: 12rem;
    transform: rotate(7deg) translate3d(0, 6rem, 0);
  }
  .Header-titleSecondary {
    font-size: 10rem;
    transform: translate3d(0, -6rem, 0);
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .Header-controls {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .Header-titlePrimary {
    font-size: 15rem;
    transform: rotate(7deg) translate3d(0, 7.5rem, 0);
  }
  .Header-titleSecondary {
    font-size: 13rem;
    transform: translate3d(0, -7.5rem, 0);
  }
}
