.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .Home {
  }
}

.Home-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;
  min-width: 150px;
}

.Home-userTitle {
  font-size: 1.5em;
}

.Home-userSubtitle {
  font-style: italic;
  min-height: 1em;
  margin: 0.25em;
}

.Home-userList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Home-userImg {
  width: 8em;
  height: 8em;
  margin-bottom: 0.5em;
}

.Home-link {
  font-size: 1.5em;
  display: block;
  color: #282c34;
}

.Home-title {
  color: #282c34;
}

.Home-content {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 20px;
}

.Home-list {
}

.Home-userOnlineIcon2 {
  margin-left: 0.2em;
  height: 0.75em;
  width: 1em;
  display: inline-block;
}

.Home-userOnlineIcon2.hidden {
  opacity: 0;
}
