.Home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

@media only screen and (max-width: 600px) {
  .Home {
    flex-direction: column;
  }
}

.Home-userList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Home-link {
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: block;
  color: #282c34;
}

.Home-title {
  color: #282c34;
}

.Home-content {
  margin-left: 1em;
  margin-right: 1em;
  flex-basis: 60%;
  margin-bottom: 20px;
}

.Home-list {
  margin-left: 1em;
  margin-right: 1em;
  flex-basis: 40%;
}
