.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-userList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Home-link {
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: block;
  color: #282c34;
}

.Home-title {
  color: #282c34;
}
