html {
  background-color: #fdfdfb;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.EMContainer {
  position: relative;
  padding: 1rem;
}

.EMContainer::before {
  background-color: #fdfdfb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  border-radius: 4px;
  opacity: 0.95;
}

.EMCard {
  position: relative;
  padding: 1rem;
  border: 3px solid #222;
  border-radius: 1rem;
}

.EMCard::before {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  border-radius: 0.8rem;
}
