.Listen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Listen-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Listen-trackList {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Listen-track {
  width: 400px;
}
