.Listeners-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.Listeners-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.Listeners-userImg {
  height: 2em;
  width: 2em;
  margin-right: 0.25em;
  border-radius: 50%;
}
