.Listen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Listen-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Listen-trackList {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Listen-controls {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Listen-track {
}

.Listen-startListening {
  position: relative;
}

.Listen-startListeningMask {
  opacity: 0.25;
}

.Listen-startListeningContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Listen-EQ {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.Listen-play {
  font-size: 2em;
}

.Listen-playLink {
  color: #282c34;
}
