.Track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border: 1px solid #222;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .Track {
    width: 400px;
  }
}

.Track-albumImg {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

.Track-details {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  flex-grow: 1;
}
